.App {
  text-align: center;
  
}

.App-logo { 
position:sticky;
width: 1044px;
height: 354px;
left: 190px;
top: 170px;

}

.App-back{
  width: 100%;
  background: url(YJ4k5zVMjZA.jpg) no-repeat; 
  
}



.App-header {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
 
  
  
}

.App-link {
position: absolute;
width: 144px;
height: 34px;
left: 590px;
top: 521px;
color: #e4cde9;
font-family: "Lucida Console";
font-style: normal;
font-weight: normal;

}

