.App {
  text-align: center;
  
}

.App-logo {
  
  /* ТОЧКА */
  
position: absolute;
width: 1316px;
height: 496px;
left: 202px;
top: 140px;

}

.App-back{
  position: absolute;
}



.App-header {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
 
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
}



.App-link {
 
}

