.Home {
  text-align: center;
  
}
.App-ack{
    position:fixed;
    width: 100%;
    right: 0;
    height: 100%;
    background-color: rgb(27, 27, 27); 
    
  }
  .App-tamp{
    position:absolute;
    width: 350px;
    height: 554px;
    left: 10px;
    top: 100px;  
  }
  .Home-gost{
    position:relative;
    top: 70px;
    width: 1100px;
    height: 500px; 
    left: 0px;
    
    
  }
  .Home-grodno{
    position:relative;
    top: 0px;
    width: 700px;
    height: 300px; 
    left: 0px;
  }
  .Home-carusel{
    position: absolute;
    width: 1300px;
    height: 550px;  
  }
  .App-logosmall{
    position:fixed;
    width: 1255px;
    height: 134px;
    left: 550px;
    top: -60px;
    background: url(minilogo.svg) no-repeat; 
    
  }
  .Navbar-brand
  {
    width: 144px;
    height: 104px;
    left: 600px;
    top: 7px;
  }
  
 